/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* This stylesheet generated by Transfonter (http://transfonter.org) on June 30, 2016 4:24 PM */

@font-face {
	font-family: 'TradeGothic';
	src: url('../fonts/TradeGothicW10-BdCn20.eot');
	src: url('../fonts/TradeGothicW10-BdCn20.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TradeGothicW10-BdCn20.woff2') format('woff2'),
		url('../fonts/TradeGothicW10-BdCn20.woff') format('woff'),
		url('../fonts/TradeGothicW10-BdCn20.ttf') format('truetype'),
		url('../fonts/TradeGothicW10-BdCn20.svg#TradeGothicW10-BdCn20') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaFuturisCondBoldC';
	src: url('../fonts/FuturaFuturisCondBoldC.eot');
	src: url('../fonts/FuturaFuturisCondBoldC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaFuturisCondBoldC.woff2') format('woff2'),
		url('../fonts/FuturaFuturisCondBoldC.woff') format('woff'),
		url('../fonts/FuturaFuturisCondBoldC.ttf') format('truetype'),
		url('../fonts/FuturaFuturisCondBoldC.svg#FuturaFuturisCondBoldC') format('svg');
	font-weight: bold;
	font-style: normal;
}

.noUi-target {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.noUi-horizontal {
  height: 40px !important;
}
.noUi-background {
  background-color: #3b3328 !important;
  box-shadow: none !important;
}
.noUi-origin {
  border-radius: 0 !important;
}
.noUi-connect {
  background-color: #d7ba91 !important;
  box-shadow: none !important;
}
.noUi-handle {
  width: 2px !important;
  height: 66px !important;
  left: -1px !important;
  top: -9px !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: #d7ba91 !important;
  cursor: pointer !important;
  box-shadow: none !important;
}
.noUi-handle::before {
  display: none !important;
}
.noUi-handle::after {
  width: 14px !important;
  border-radius: 50%;
  background-color: #fff !important;
  left: -6px !important;
  top: 66px !important;
}
html,
body {
  height: 100%;
}
body *:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
img {
  box-sizing: content-box;
}
button {
  border: 0;
  cursor: pointer;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}
body {
  background-color: #eee;
}
.ui-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28,28,28,0.86);
}
.ui-modal {
  position: relative;
  padding: 57px 52px;
  background-color: #fff;
  text-align: center;
}
.ui-modal--sm {
  width: 640px;
}
.ui-modal--md {
  width: 754px;
}
.ui-modal__close {
  position: absolute;
  top: 39px;
  right: 39px;
  background-color: transparent;
}
.ui-modal-dark {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 31px 31px;
  width: 329px;
  height: 299px;
  background-color: #2c2c2c;
}
.ui-modal-dark__close {
  position: absolute;
  top: 39px;
  right: 39px;
  background-color: transparent;
}
.ui-modal-dark__title {
  color: #cdad7f;
  font-family: TradeGothicW10;
  font-size: 53px;
  line-height: 48px;
  text-transform: uppercase;
}
.ui-modal-dark__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ui-heading {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #cdad7f;
  font-family: FuturaFuturisCondBoldC;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
}
.ui-msg {
  margin: 7px 0 23px;
  color: #262626;
  font-family: TradeGothic;
  font-size: 20px;
  text-transform: uppercase;
}
.ui-form-wrapper {
  padding: 55px 0 0;
}
.ui-form-row:not(:last-child) {
  margin-bottom: 28px;
}
.ui-form-field {
  display: inline-block;
}
.ui-form-field:not(:last-child) {
  margin-right: 30px;
}
.ui-form-field__label {
  padding-bottom: 9px;
  color: #262626;
  font-family: TradeGothic;
  font-size: 15px;
  text-transform: uppercase;
  text-align: left;
}
.ui-form-field__input,
.ui-form-field__area {
  padding: 5px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
}
.ui-form-field__input {
  width: 195px;
  height: 40px;
}
.ui-form-field__input--util {
  width: 265px;
  color: #cdad7f;
  background-color: #fff;
  text-align: center;
  font-family: TradeGothic;
  text-transform: uppercase;
}
.ui-form-field__area {
  width: 645px;
  height: 102px;
}
.ui-btn-wrapper {
  padding-top: 34px;
}
.ui-btn-wrapper .ui-btn {
  margin: 0 15px;
}
.ui-btn {
  height: 40px;
  font-family: TradeGothic;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid transparent;
}
.ui-btn--abort {
  width: 126px;
  color: #262626;
  background-color: transparent;
  border-color: #000;
}
.ui-btn--abort-dark {
  width: 126px;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.ui-btn--abort-sec {
  width: 124px;
  color: #cdad7f;
  background-color: transparent;
  border-color: #cdad7f;
}
.ui-btn--accept {
  width: 126px;
  color: #fff;
  background-color: #f00;
  border-color: #f00;
}
.ui-btn--accept-disabled {
  width: 126px;
  color: #000;
  background-color: #3c3c3c;
  border-color: #3c3c3c;
  cursor: default;
}
.ui-btn--aux {
  right: 15px;
  bottom: 15px;
  width: 126px;
  color: #262626;
  background-color: #cdad7f;
  border-color: #cdad7f;
}
.ui-btn--util {
  width: 265px;
  height: 39px;
  color: #cdad7f;
  background-color: #fff;
  border-color: #fff;
}
.ui-btn--edit {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 77px;
  color: #262626;
  background-color: #cdad7f;
  border-color: #cdad7f;
}
.ui-btn--ttip {
  width: 56px;
  height: 25px;
  margin-left: 16px;
  color: #fff;
  background-color: #f00;
  font-size: 13px;
  border-color: #f00;
}
.ui-btn--restore {
  width: 126px;
  color: #fff;
  background-color: transparent;
}
.ui-btn--restore b {
  position: relative;
}
.ui-btn--restore b:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -4px;
  background-color: #fff;
}
.ui-btn--select {
  width: 70px;
  height: 25px;
  color: #cdad7f;
  background-color: transparent;
  border: 1px solid #cdad7f;
}
.ui-ttip {
  display: inline-block;
  position: absolute;
  top: 40%;
  font-family: TradeGothic;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  z-index: 1000;
}
.ui-ttip:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-style: solid;
}
.ui-ttip--red-down {
  left: 30%;
  padding: 10px 40px;
  color: #fff;
  background-color: #f00;
  border-color: #f00;
}
.ui-ttip--red-down:before {
  top: -12px;
  border-width: 0 6px 12px 6px;
  border-color: transparent transparent #f00 transparent;
}
.ui-ttip--white-up {
  left: 55%;
  padding: 7px 10px;
  color: #202122;
  background-color: #fff;
  border-color: #fff;
}
.ui-ttip--white-up:before {
  bottom: -12px;
  border-width: 12px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
}
.ui-play,
.ui-pause,
.ui-play-sel {
  position: absolute;
  bottom: 15px;
  height: 40px;
  left: 15px;
  background-color: #fff;
}
.ui-play {
  width: 40px;
}
.ui-play:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-style: solid;
  border-width: 7px 0 7px 12px;
  border-color: transparent transparent transparent #cdad7f;
}
.ui-pause {
  width: 300px;
  background-color: #fff;
}
.ui-pause__btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
}
.ui-pause__btn:before,
.ui-pause__btn:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 4px;
  height: 14px;
  margin: auto;
  background-color: #cdad7f;
}
.ui-pause__btn:before {
  left: -8px;
}
.ui-pause__btn:after {
  left: 8px;
}
.ui-pause__bar {
  position: absolute;
  width: 242px;
  height: 40px;
  left: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.ui-pause__bar:before,
.ui-pause__bar:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4px;
}
.ui-pause__bar:before {
  width: 242px;
  background-color: #242424;
}
.ui-pause__bar:after {
  width: 113px;
  background-color: #cdad7f;
}
.ui-play-sel {
  width: calc(100% - 30px);
}
.ui-play-sel .ui-play {
  left: 0;
  bottom: 0;
}
.ui-play-sel span {
  disabled: inline-block;
  position: absolute;
  right: 15px;
  color: #f00;
  font-family: TradeGothic;
  font-size: 15px;
  line-height: 40px;
  text-transform: uppercase;
}
.ui-play-sel .ui-btn--select {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ui-board {
  position: absolute;
  width: calc(100% - 30px);
  top: 15px;
  left: 15px;
  height: 183px;
  padding-top: 36px;
  background-color: rgba(38,38,38,0.82);
  text-align: center;
  border: 5px solid #f00;
}
.ui-board__header {
  color: #cdad7f;
  font-family: TradeGothic;
  font-size: 15px;
  text-transform: uppercase;
}
.ui-board__time {
  color: #fff;
  font-family: TradeGothic;
  font-size: 30px;
  line-height: 62px;
}
.ui-board_unselect {
  border-color: #cdad7f;
}
.ui-icon-undo {
  display: inline-block;
  background: url("../img/ui-icon-undo.svg");
  width: 12px;
  height: 13px;
  margin-right: 11px;
}
.ui-icon-check {
  display: inline-block;
  background: url("../img/ui-icon-check.png");
  width: 39px;
  height: 45px;
}
.ui-icon-star {
  display: inline-block;
  background: url("../img/icon-star.svg");
  width: 23px;
  height: 21px;
}
.ui-icon-check-white {
  display: inline-block;
  background: url("../img/ui-icon-check-white.png");
  width: 40px;
  height: 46px;
}
.ui-icon-close-black {
  display: inline-block;
  background: url("../img/ui-icon-close-black.png");
  width: 20px;
  height: 20px;
}
.ui-icon-close-white {
  display: inline-block;
  background: url("../img/ui-icon-close-white.png");
  width: 20px;
  height: 20px;
}
.ui-icon-close-gray {
  display: inline-block;
  background: url("../img/ui-icon-close-gray.png");
  width: 20px;
  height: 20px;
}
.ui-icon-close-gold {
  display: inline-block;
  background: url("../img/ui-icon-close-gold.png");
  width: 26px;
  height: 24px;
}
.container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: scroll;
}
.container-dark {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  box-sizing: content-box;
  padding: 0 30px;
  max-width: 1280px;
  margin: 0 auto;
  overflow: scroll;
}
.container-grid {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  overflow: scroll;
}
.container-center {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.editor {
  position: relative;
}
.editor__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 30px 52px;
}
.editor__header-sec {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
}
.editor__header-sec:first-child {
  text-align: left;
}
.editor__header-sec:last-child {
  text-align: right;
}
.editor__header-sec p {
  margin: 0;
  color: #fff;
  font-family: TradeGothic;
  font-size: 15px;
  text-transform: uppercase;
}
.editor__header-sec .ui-btn-wrapper {
  padding-top: 0;
}
.editor__videos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 71px;
}
.editor__video {
  position: relative;
  width: 426px;
  height: 264px;
  overflow: hidden;
  border: 1px solid #cdad7f;
  margin-bottom: 30px;
}
.editor__video:not(:last-child) {
  border-right: 0;
}
.editor__video img {
  width: 100%;
  height: auto;
}
.games {
  position: relative;
  margin: 0 auto;
  width: 960px;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .games {
    width: 1280px;
  }
}
.games__block {
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  width: 320px;
  height: 320px;
  padding: 30px;
  background: #fff;
  border-left: 1px solid #dadada;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
.games__block:last-child {
  width: 321px;
  border-right: 1px solid #dadada;
}
.games__block--select {
  color: #fff;
  background: #f00;
}
.games__block--wait span {
  color: #cdad7f;
  font-family: TradeGothic;
  font-size: 15px;
}
.games__date {
  opacity: 0.3;
  color: #262626;
  font-family: TradeGothic;
  font-size: 15px;
  line-height: 20px;
}
.games__date--select {
  color: #fff;
  opacity: 1;
}
.games__players {
  color: #000;
  font-family: TradeGothic;
  font-size: 24px;
  line-height: 31px;
}
.games__players--select {
  color: #fff;
}
.games__players--wait {
  color: #b2b2b2;
}
@media (min-width: 960px) {
  .games__block:nth-child(4n+0) {
    border-right: 0;
  }
  .games__block:nth-child(3n+0) {
    border-right: 1px solid #dadada;
  }
}
@media (min-width: 1280px) {
  .games__block:nth-child(3n+0) {
    border-right: 0;
  }
  .games__block:nth-child(4n+0) {
    border-right: 1px solid #dadada;
  }
}
.text-xl,
.text-stars {
  display: inline-block;
  position: relative;
  margin: 0;
  color: #cdad7f;
  font-family: FuturaFuturisCondBoldC;
  font-weight: 400;
  text-transform: uppercase;
}
.text-xl {
  font-size: 70px;
}
.text-stars {
  font-size: 45px;
  margin: 70px 0;
}
.text-stars:before,
.text-stars:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-star.svg");
}
.text-stars:before {
  left: -77px;
}
.text-stars:after {
  right: -77px;
}
.welcome {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 537px;
  background-color: rgba(44,44,44,0.2);
}
.welcome__logo {
  width: 175px;
  height: 331px;
  margin: 0 auto;
  background-image: url("../img/big-logo.svg");
}
.welcome__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 265px;
}
.hidden {
  display: none;
}
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100%;
  height: 100vh;
  background-color: #232323;
}
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
}
.main_bg-welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_welcome.png");
}
.main_bg-games {
  background-image: url("../img/bg_games.png");
}
.main_bg-games_unavailable::before {
  content: "";
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 70%;
  height: 70%;
  background-image: url("../img/bg_games_unavailable.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sub-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 30px;
  background-color: #fff;
}
.sub-logo {
  width: 25px;
  height: 47px;
  padding-left: 10px;
}
.progress-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  padding: 0 30px;
  border-top: 1px solid #cdad7f;
  background-color: #1c1c1c;
}
.progress-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
  font-family: "TradeGothic";
  font-size: 13px;
  text-transform: uppercase;
}
.progress-footer ul li {
  display: inline-block;
  vertical-align: top;
}
.progress-footer ul li span {
  padding-left: 6px;
  color: #ddc8ab;
}
.progress-footer ul li::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 8px;
  margin-top: 3px;
  margin-right: 6px;
  margin-left: 4px;
  background-color: #d5bd9b;
  border-radius: 50%;
}
.progress-footer ul li::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  margin-top: 6px;
  width: 100px;
  height: 1px;
  background-color: #505050;
}
.progress-footer ul li:last-child::after {
  display: none;
}
.fixed-video-container {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-bottom: 28px;
  min-width: 960px;
  min-height: 510px;
  border: 1px solid #cdad7f;
}
.fixed-video-container img {
  width: 100%;
  height: auto;
}
.crop-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: content-box;
  min-height: 80px;
  padding: 28px 30px 50px;
}
.crop-bar {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 27px;
}
.time {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  color: #cdad7f;
  font-family: "TradeGothic";
  font-size: 18px;
}
.time_start {
  left: 23px;
}
.time_end {
  right: 27px;
  z-index: 100;
}
.time-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}
.time-text::before,
.time-text::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 130px;
  background-color: #fff;
}
.time-text span {
  color: #fff;
  font-family: TradeGothic;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 5px;
}
.video-title__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  padding: 0 30px;
  border-bottom: 1px solid #cdad7f;
  text-transform: uppercase;
  font-family: TradeGothic;
}
.video-title__title {
  font-size: 21px;
  color: #cdad7f;
  margin: 0;
}
.video-title__date {
  font-size: 13px;
  color: #8e8e8e;
}
.video-title__date span {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */