.noUi
  &-target
    border-radius 0 !important
    border none !important
    box-shadow none !important
  &-horizontal
    height 40px !important
  &-background
    background-color #3b3328 !important
    box-shadow none !important
  &-origin
    border-radius 0 !important
  &-connect
    background-color #d7ba91 !important
    box-shadow none !important
  &-handle
    width 2px !important
    height 66px !important
    left -1px !important
    top -9px !important
    border none !important
    border-radius 0 !important
    background-color #d7ba91 !important
    cursor pointer !important
    box-shadow none !important
    &::before
      display none !important
    &::after
      width 14px !important
      border-radius 50%
      background-color #ffffff !important
      left -6px !important
      top 66px !important
