@import "bower_components/normalize-css/normalize.css"
@import "fonts/fonts.css"
@import "slider.styl"
@import "styl/styles.styl"

.hidden
  display none

.wrapper
  display flex
  flex-direction column
  position relative
  min-height 100%
  height 100vh
  background-color $dark-bg

.main
  display flex
  flex-direction column
  flex 1
  overflow hidden
  position relative
  &_bg-welcome
    &::before
      content ""
      position absolute
      top 0
      left 0
      display block
      width 100%
      height 100%
      background-image url("../img/bg_welcome.png")
    // &::before
    //   left 0
    // &::after
    //   right 0
    //   transform rotate3d(0, 1, 0, 180deg)
  &_bg-games
    background-image url("../img/bg_games.png")
    &_unavailable
      &::before
        content ""
        position absolute
        top calc(50% - 30px)
        left 50%
        transform translate(-50%, -50%)
        display block
        width 70%
        height 70%
        background-image url("../img/bg_games_unavailable.svg")
        background-repeat no-repeat
        background-size 100% 100%

.sub-header
  display flex
  align-items center
  height 60px
  padding 0 30px
  background-color $white

.sub-logo
  width 25px
  height 47px
  padding-left 10px

.progress-footer
  display flex
  align-items center
  justify-content center
  height 60px
  padding 0 30px
  border-top 1px solid $gold
  background-color #1c1c1c
  ul
    padding 0
    margin 0
    list-style none
    color white
    font-family "TradeGothic"
    font-size 13px
    text-transform uppercase
    li
      display inline-block
      vertical-align top
      span
        padding-left 6px
        color #ddc8ab
      &::before
        content ""
        display inline-block
        vertical-align top
        width 8px
        height 8px
        margin-top 3px
        margin-right 6px
        margin-left 4px
        background-color #d5bd9b
        border-radius 50%
      &::after
        content ""
        display inline-block
        vertical-align top
        margin-left 6px
        margin-top 6px
        width 100px
        height 1px
        background-color #505050
      &:last-child::after
        display none

.fixed-video-container
  // flex 1
  align-self center
  margin-bottom 28px
  min-width 960px
  min-height 510px
  border 1px solid $gold
  img
    width 100%
    height auto
.crop-video
  display flex
  box-sizing content-box
  min-height 80px
  padding 28px 30px 50px
  // margin-bottom 50px
.crop-bar
  position relative
  flex 1
  margin-right 27px
.time
  position absolute
  top 50%
  transform translateY(-50%)
  margin 0
  color $gold
  font-family "TradeGothic"
  font-size 18px
  &_start
    left 23px
  &_end
    right 27px
    z-index 100
  &-text
    display flex
    justify-content center
    align-items center
    padding 0 5px
    &::before, &::after
      content ""
      display inline-block
      height 1px
      width 130px
      background-color $white
    span
      color $white
      font-family TradeGothic
      font-size 12px
      text-transform uppercase
      padding 0 5px

.video-title
  &__header
    display flex
    justify-content space-between
    align-items center
    min-height 48px
    padding 0 30px
    border-bottom 1px solid $gold
    text-transform uppercase
    font-family TradeGothic
  &__title
    font-size 21px
    color $gold
    margin 0
  &__date
    font-size 13px
    color #8e8e8e
    span
      color $white
