html, body
  height: 100%
body *
  &:focus
    outline: none

*
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box
img
  box-sizing: content-box

button
  border 0
  cursor pointer

.cf
  &:after
    content ""
    display table
    clear both



// temporary style
body
  background-color #eee
