@font-face {
  font-family: TradeGothicW10;
  src: url("../fonts/TradeGothic.ttf") format("truetype");
}

@font-face {
  font-family: FuturaFuturisCondBoldC;
  font-weight: bold;
  src: url("../fonts/FuturaFuturisCondBoldC.otf") format("opentype");
}
