// temporary style
// .container
//   padding 0 30px
//   // margin 40px 0
//   position absolute
//   top calc(50% - 30px)
//   left 50%
//   transform translate(-50%, -50%)
.container
  flex 1
  display flex
  flex-direction column
  justify-content space-between
  overflow scroll
.container-dark
  flex 1
  box-sizing content-box
  padding 0 30px
  // margin 40px 0
  // background-color #232323
  max-width 1280px
  margin 0 auto
  overflow scroll
.container-grid
  flex 1
  text-align center
  overflow scroll
  // padding 24px 0 39px
  // margin 40px 0
  // background-color #edeae6
  // background-image url(../img/grid-bg.png)
.container-center
  flex 1
  display flex
  justify-content center
  align-items center
  // padding 100px
  // background-color $dark-bg



// videos
// -----------------------------------------------------------------------------
.editor
  position relative
  &__header
    display flex
    justify-content space-between
    padding 70px 30px 52px
  &__header-sec
    flex 1
    position relative
    text-align center
    &:first-child
      text-align left
    &:last-child
      text-align right
    p
      margin 0
      color $white
      font-family TradeGothic
      font-size 15px
      text-transform uppercase
    .ui-btn-wrapper
      padding-top 0

  &__videos
    display flex
    flex-wrap wrap
    justify-content center
    padding-bottom 71px

  &__video
    // flex 1
    position relative
    width 426px
    height 264px
    overflow hidden
    border 1px solid $gold
    margin-bottom 30px
    &:not(:last-child)
      border-right 0
    img
      width 100%
      height auto


// games
// -----------------------------------------------------------------------------
.games
  position relative
  margin 0 auto
  width 960px
  text-transform uppercase
  @media screen and (min-width: 1280px)
    width 1280px
  &__block
    float left
    display flex
    flex-direction column
    justify-content space-between
    align-items center
    align-content center
    width 320px
    height 320px
    padding 30px
    background $white
    border-left 1px solid $light-gray
    border-top 1px solid $light-gray
    border-bottom 1px solid $light-gray
    &:last-child
      width 321px
      border-right 1px solid $light-gray
    &--select
      color $white
      background $red
    &--wait
      span
        color $gold
        font-family TradeGothic
        font-size 15px
  &__date
    opacity 0.3
    color $deep-black
    font-family TradeGothic
    font-size 15px
    line-height 20px
    &--select
      color $white
      opacity 1
  &__players
    color $black
    font-family TradeGothic
    font-size 24px
    line-height 31px
    &--select
      color $white
    &--wait
      color $gray

@media (min-width: 960px)
  .games__block:nth-child(4n+0)
    border-right 0
  .games__block:nth-child(3n+0)
    border-right 1px solid $light-gray
@media (min-width: 1280px)
  .games__block:nth-child(3n+0)
    border-right 0
  .games__block:nth-child(4n+0)
    border-right 1px solid $light-gray




// header, big text
// -----------------------------------------------------------------------------
.text-xl,
.text-stars
  display inline-block
  position relative
  margin 0
  color $gold
  font-family FuturaFuturisCondBoldC
  font-weight 400
  text-transform uppercase

.text-xl
  font-size 70px

.text-stars
  font-size 45px
  margin 70px 0
  &:before,
  &:after
    content ''
    position absolute
    top 10px
    width 23px
    height 21px
    background-image url(../img/icon-star.svg)
  &:before
    left -77px
  &:after
    right -77px




.welcome
  position relative
  display flex
  flex-direction column
  justify-content space-around
  align-items center
  width 280px
  height 537px
  background-color rgba($dark-modal, .2)
  &__logo
    width 175px
    height 331px
    margin 0 auto
    background-image url(../img/big-logo.svg)
  &__btns
    display flex
    justify-content space-between
    width 265px
