.editor
  position relative
  &__header
    display flex
    justify-content space-between
    padding 71px 31px 52px
  &__header-sec
    flex 1
    position relative
    text-align center
    &:first-child
      text-align left
    &:last-child
      text-align right
    p
      margin 0
      color $white
      font-family TradeGothic
      font-size 15px
    .ui-btn-wrapper
      padding-top 0

  &__videos
    display flex
    padding-bottom 71px

  &__video
    flex 1
    position relative
    min-width 427px
    height 266px
    overflow hidden
    border 1px solid #cdad7f
    &:not(:last-child)
      border-right 0
    img
      width 100%
      height auto
