.ui-icon-undo
  display inline-block
  background url(../img/ui-icon-undo.svg)
  width 12px
  height 13px
  margin-right 11px

.ui-icon-check
  display inline-block
  background url(../img/ui-icon-check.png)
  width 39px
  height 45px

.ui-icon-star
  display inline-block
  background url(../img/icon-star.svg)
  width 23px
  height 21px

.ui-icon-check-white
  display inline-block
  background url(../img/ui-icon-check-white.png)
  width 40px
  height 46px

.ui-icon-close-black
  display inline-block
  background url(../img/ui-icon-close-black.png)
  width 20px
  height 20px

.ui-icon-close-white
  display inline-block
  background url(../img/ui-icon-close-white.png)
  width 20px
  height 20px

.ui-icon-close-gray
  display inline-block
  background url(../img/ui-icon-close-gray.png)
  width 20px
  height 20px

.ui-icon-close-gold
  display inline-block
  background url(../img/ui-icon-close-gold.png)
  width 26px
  height 24px
