// modal
// -----------------------------------------------------------------------------
.ui-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color $overlay

.ui-modal
  position relative
  padding 57px 52px
  background-color $white
  text-align center
  &--sm
    width 640px
  &--md
    width 754px
  &__close
    position absolute
    top 39px
    right 39px
    background-color transparent

.ui-modal-dark
  position relative
  display flex
  flex-direction column
  justify-content space-between
  padding 55px 31px 31px
  width 329px
  height 299px
  background-color $dark-modal
  &__close
    position absolute
    top 39px
    right 39px
    background-color transparent
  &__title
    color $gold
    font-family TradeGothicW10
    font-size 53px
    line-height 48px
    text-transform uppercase
  &__btns
    display flex
    justify-content space-between


.ui-heading
  display inline-block
  vertical-align middle
  margin 0
  color $gold
  font-family FuturaFuturisCondBoldC
  font-size 45px
  font-weight 400
  text-transform uppercase

.ui-msg
  margin 7px 0 23px
  color $deep-black
  font-family TradeGothic
  font-size 20px
  text-transform uppercase


// forms
// -----------------------------------------------------------------------------
.ui-form-wrapper
  padding 55px 0 0

.ui-form-row
  &:not(:last-child)
    margin-bottom 28px

.ui-form-field
  display inline-block
  &:not(:last-child)
    margin-right 30px
  &__label
    padding-bottom 9px
    color $deep-black
    font-family TradeGothic
    font-size 15px
    text-transform uppercase
    text-align left
  &__input,
  &__area
    padding 5px
    background-color $white
    border 1px solid rgba($black, .2)
    border-radius 3px
  &__input
    width 195px
    height $ui-input-h
    &--util
      width 265px
      color $gold
      background-color $white
      text-align center
      font-family TradeGothic
      text-transform uppercase
  &__area
    width 645px
    height 102px


// buttons
// -----------------------------------------------------------------------------
.ui-btn-wrapper
  padding-top 34px
  .ui-btn
    margin 0 15px

.ui-btn
  height $ui-button-h
  font-family TradeGothic
  font-size 15px
  text-transform uppercase
  border-radius 3px
  border 1px solid transparent
  &--abort
    width 126px
    color $deep-black
    background-color transparent
    border-color $black
  &--abort-dark
    width 126px
    color $white
    background-color transparent
    border-color $white
  &--abort-sec
    width 124px
    color $gold
    background-color transparent
    border-color $gold
  &--accept
    width 126px
    color $white
    background-color $red
    border-color $red
  &--accept-disabled
    width 126px
    color $black
    background-color $disabled
    border-color $disabled
    cursor default
  &--aux
    right 15px
    bottom 15px
    width 126px
    color $deep-black
    background-color $gold
    border-color $gold
  &--util
    width 265px
    height 39px
    color $gold
    background-color $white
    border-color $white

  &--edit
    position absolute
    right 15px
    bottom 15px
    width 77px
    color $deep-black
    background-color $gold
    border-color $gold
  &--ttip
    width 56px
    height 25px
    margin-left 16px
    color $white
    background-color $red
    font-size 13px
    border-color $red
  &--restore
    width 126px
    color $white
    background-color transparent
    b
      position relative
      &:after
        content ''
        position absolute
        width 100%
        height 1px
        left 0
        bottom -4px
        background-color $white
  &--select
    width 70px
    height 25px
    color $gold
    background-color transparent
    border 1px solid $gold


// tooltip
// -----------------------------------------------------------------------------
.ui-ttip
  display inline-block
  position absolute
  top 40%
  font-family TradeGothic
  font-size 13px
  text-align center
  text-transform uppercase
  border-radius 2px
  z-index 1000
  &:before
    content ''
    position absolute
    left 50%
    margin-left -6px
    width 0
    height 0
    border-style solid
  &--red-down
    left 30%
    padding 10px 40px
    color $white
    background-color $red
    border-color $red
    &:before
      top -12px
      border-width 0 6px 12px 6px
      border-color transparent transparent $red transparent;
  &--white-up
    left 55%
    padding 7px 10px
    color $dark-gray
    background-color $white
    border-color $white
    &:before
      bottom -12px
      border-width 12px 6px 0 6px
      border-color $white transparent transparent transparent;


// video controls
// -----------------------------------------------------------------------------
.ui-play,
.ui-pause,
.ui-play-sel
  position absolute
  bottom 15px
  height $ui-button-h
  left 15px
  background-color $white

.ui-play
  width $ui-button-h
  &:before
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    width 0
    height 0
    margin auto
    border-style solid
    border-width 7px 0 7px 12px
    border-color transparent transparent transparent $gold

.ui-pause
  width 300px
  background-color $white
  &__btn
    position relative
    width 40px
    height $ui-button-h
    background-color $white
    &:before,
    &:after
      content ''
      position absolute
      top 0
      bottom 0
      right 0
      width 4px
      height 14px
      margin auto
      background-color $gold
    &:before
      left -8px
    &:after
      left 8px
  &__bar
    position absolute
    width 242px
    height $ui-button-h
    left 40px
    top 0
    bottom 0
    margin auto
    cursor pointer
    &:before,
    &:after
      content ''
      position absolute
      top 0
      bottom 0
      margin auto
      height 4px
    &:before
      width 242px
      background-color $bar
    &:after
      width 113px
      background-color $gold

.ui-play-sel
  width calc(100% - 30px)
  .ui-play
    left 0
    bottom 0
  span
    disabled inline-block
    position absolute
    right 15px
    color $red
    font-family TradeGothic
    font-size 15px
    line-height 40px
    text-transform uppercase
  .ui-btn--select
    position absolute
    right 15px
    top 50%
    transform translateY(-50%)


.ui-board
  position absolute
  width calc(100% - 30px)
  top 15px
  left 15px
  height 183px
  padding-top 36px
  background-color rgba(38, 38, 38, .82)
  text-align center
  border 5px solid $red
  &__header
    color $gold
    font-family TradeGothic
    font-size 15px
    text-transform uppercase
  &__time
    color $white
    font-family TradeGothic
    font-size 30px
    line-height 62px
  &_unselect
    border-color $gold
